<!doctype html>
<html> 
    <head>
       
        <link rel="stylesheet" type="text/css" href="stylesheets/estilo.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script> -->
        
    </head>
    <body>
        <div id="jogo">
            <div class="linha">
                <div class="casa" id="casa1"></div>
                <div class="casa" id="casa2"></div>
                <div class="casa" id="casa3"></div>
            </div>
            <div class="linha">
                <div class="casa" id="casa4"></div>
                <div class="casa" id="casa5"></div>
                <div class="casa" id="casa6"></div>
            </div>
            <div class="linha">
                <div class="casa" id="casa7"></div>
                <div class="casa" id="casa8"></div>
                <div class="casa" id="casa9"></div>
            </div>
        </div>
        <div id="iniciar">
            <button id="iniciarJogo">Iniciar Jogo</button>
        </div>
        <div id="informações">
            <input type="text" id="id" value=""/>
            <select name="jogador">
                <option value="X">X</option>
                <option value="Y">Y</option>
            </select>
            <select name="positionX">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <select name="positionY">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <button id="realizarJogada">Jogar</button>
        </div>
        <div id="resultado"></div>
    <script type="text/javascript" src="javascripts/controller.js"></script>
    </body>
</html>
